/* Sets every element to fill space entirety and child elements fit inside */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set Website backgroud color */
body {
    background-color: #d9dcd6;
}

/* Sets the padding and color around Header content */
/* Sets Font and Text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets h1 font and to display inline */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Adds accent color to SEO in company name */
#seo {
    color: #69884a;
}

/* Sets Navigation Elements position, text, and box format */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block
}

/* No Markers for list items */
ul {
    list-style-type: none;
}

/* Displays list items inline with 25px space between */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Formats the link text in nav bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Format Banner image */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Formats the Main content section to 75% of page width and inline with margin */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Formats the Main content section */
.main-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets Main content images height */
.main-image {
    max-height: 200px;
}

/* Formats Main content headers */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Formats Main content description font size */
p {
    font-size: 16px;
}

/* Class ID to position Main Content Images to left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class ID to position Main Content Images to right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets Format of side bar content */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets aside sections font color and bottom spacing */
.aside-style {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets Aside header position and indentation space */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Displays aside images in block style, centered, and sets width */
.aside-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Formats The Footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}


